@import url('https://fonts.googleapis.com/css?family=Amiri|Source+Sans+Pro');

/*
Tailwind CDN overrides
*/

.font-sans {
  font-family: "Source sans pro", sans-serif;
}

.font-serif {
  font-family: "Amiri", serif;
}

/*
Text
*/

@media (min-width: 992px) {
  .text-6xl {
    font-size: 4rem;
  }
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 16px rgba(70, 42, 22, 0.5);
}

/*
Menu
*/

#menu {
  display: none;
}

@media (min-width: 768px) {
  #menu {
    display: flex;
  }
}

/*
header
*/

#header-bg {
  height: 34rem;
}

.header-img {
  height: 37rem;
}

#header-img-1 {
  background: linear-gradient(rgba(70, 42, 22, 0.25),rgba(70, 42, 22, 0.25)), url("img/header-img-1.jpg");
}

#header-img-2 {
  background: linear-gradient(rgba(70, 42, 22, 0.25),rgba(70, 42, 22, 0.25)), url("img/header-img-2.jpg");
}

#header-img-3 {
  background: linear-gradient(rgba(70, 42, 22, 0.25),rgba(70, 42, 22, 0.25)), url("img/header-img-3.jpg");
}

#header-img-1, #header-img-2, #header-img-3 {
  background-position: center, center;
  background-size: auto, cover;
}

#header, #header-content {
  height: 38.5rem;
}

/*
Featured
*/
.featured {
  height: 24.75rem;
}

.featured-img {
  height: 22.5rem;
  background-position: center;
  background-size: cover;
}

#featured-img-1 {
  background-image: url("img/featured-img-1.jpg");
}

#featured-img-1:hover {
  background: linear-gradient(rgba(70, 42, 22, 0.15),rgba(70, 42, 22, 0.15)), url("img/featured-img-1.jpg");
}

#featured-img-2 {
  background-image: url("img/featured-img-2.jpg");
}

#featured-img-2:hover {
  background: linear-gradient(rgba(70, 42, 22, 0.15),rgba(70, 42, 22, 0.15)), url("img/featured-img-2.jpg");
}

#featured-img-3 {
  background-image: url("img/featured-img-3.jpg");
}

#featured-img-3:hover {
  background: linear-gradient(rgba(70, 42, 22, 0.15),rgba(70, 42, 22, 0.15)), url("img/featured-img-3.jpg");
}

#featured-img-1:hover, #featured-img-2:hover, #featured-img-3:hover {
  background-position: center, center;
  background-size: auto, cover;
}

/* Contact */
#contact {
  height: 41rem;
}

@media (min-width: 576px) {
  #contact {
    height: 29rem;
  }
}

#contact-bg {
  height: 24.5rem;
}

#contact-img {
  background-image: url("img/contact-img.jpg");
  height: 27.5rem;
  background-position: center;
  background-size: cover;
}
